body {
  background: url(images/ff8-bg.jpg)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  background-color: #7B7B7B;
}

@media (min-width: 481px) and (max-width: 767px) {
body {
  background: url(images/ff7-bg-sm.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
}
}