/* ===================================
          GLOBAL STYLES
   =================================== */
html,
body,
main {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background: url(images/ff7-bg-2.jpg) no-repeat center center fixed;
  -webkit-background-size: 100% 650px;
  -moz-background-size: 100% 650px;
  -o-background-size: 100% 650px;
  background-size: 100% 650px;
}

main {
  background: rgba(255, 255, 255, 0.5);
}

/* ===================================
          CONTENT STYLES
   =================================== */

main,
#register {
  padding: 0 20px;
}

h1 {
  font-size: 24px;
  padding-bottom: 5px;
  text-shadow: 00px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  font-weight: 700;
}

hr {
  border-top: 1px solid #111010;
  max-width: 200px;
  margin-top: 50px;
}

h2 {
  font-size: 16px;
}

.btn {
  font-size: 12px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #ffffff;
  color: #000;
}

/* ===================================
          RESPONSIVE STYLES
   =================================== */

@media (min-width: 767px) {
  body {
    background: url(images/ff-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    font-family: "Fira Sans", sans-serif;
  }

  main {
    padding: 0 100px;
    background: none;
  }

  h1 {
    font-size: 56px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 28px;
  }

  .btn {
    font-size: 20px;
  }

  hr {
    max-width: 400px;
    margin-top: 100px;
  }
}